html {
  background-color: #E4E9FD;
 
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1,h2 {
  color: #fff;
  padding: 6px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.topbox{
  background-image: -webkit-linear-gradient(85deg, #e9794c 50%, #E4E9FD 50%);
}

.topbox h1{
  color: #ec4604;
}

#heading {
  background-color: #e9794c;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

.item-check{
  outline: 2px solid #ec4604;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #e9794c;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #1d1d1f;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #e9794c;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #e9794c;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.dropbtn {
  background-color:#e9794c ;
  width: fit-content;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 0%;
}

.dropdown {
  position: absolute;
  height: 50px;
  Right: 30%;
  top:50px;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #f06b36;}

.delete{
  position: absolute;
  Right: 35.2%;
  top:28.6%;
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
}
.create{
  border-radius: 0%;
  min-height: 30px;
  text-shadow:white 1px 0 10px;
  color: grey;
  width: fit-content;
  position: relative;
  left: 34%;
  margin-bottom: 6px;
  padding-bottom:1px ;
}
